.answers {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.answer {
  min-width: 200px;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.single-choice-question-form {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  align-items: center;
  text-align: center;
}